   @{
          string url = Request.Url.ToString().ToLower();
      }
      <aside class="col-sm-3 col-md-2 sidebar" style="margin-top:10px;" >
           <nav class="sidebar-nav">
               <ul class="metismenu" id="menu" >                  
                  
                   <li class="active">                       
                       <a href="~/Merchants/Index" aria-expanded="true">
                           <i class="icon icon-github"></i>
                           店铺管理<i class="fa arrow fa-fw"></i>
                       </a><i class="fa arrow fa-fw"></i>
                       </li>
                   <li class="active">
                       <a href="~/Shopper/Index" aria-expanded="true">
                           <i class="icon icon-github"></i>
                           店长管理 <i class="fa arrow fa-fw"></i>
                       </a> <i class="fa arrow fa-fw"></i>
                       </i>
                   <li class="active">
                       <a href="~/FoodcategoriesMerchant/Index">
                           <i class="icon icon-list"></i>
                           菜品分类管理<i class="fa arrow fa-fw"></i>
                       </a><i class="fa arrow fa-fw"></i>
                       </i>
                   <li class="active">
                       <a href="~/foods/Index">
                           <i class="icon icon-github"></i>
                           菜品管理<i class="fa arrow fa-fw">
                           </i>
                       </a><i class="fa arrow fa-fw"></i>
                       </i>
                   <li class="active">
                       <a href="~/full_reduce_actives/Index" aria-expanded="true">
                           <i class="icon icon-list"></i>
                           满减活动<i class="fa arrow fa-fw"></i>
                       </a>
                       </i>
                   <li class="active">
                       <a href="~/buy_gift_actives/Index" aria-expanded="true">
                           <i class="icon icon-github"></i>
                           买赠活动<i class="fa arrow fa-fw"></i>
                       </a>
                       </i>
                   <li class="active">
                       <a href="~/discount_actives/Index" aria-expanded="true">
                           <i class="icon icon-github"></i>
                           折扣活动<i class="fa arrow fa-fw"></i>
                       </a>
                       </i>
                   <li class="active">
                       <a href="~/merchantsSet/Index" aria-expanded="true">
                           <i class="icon icon-github"></i>
                           商户设置<i class="fa arrow fa-fw"></i>
                       </a>
                       </i>
</ul>
          </nav>
      </aside>
 
 