   @{
          string url = Request.Url.ToString().ToLower();
      }
      <aside class="col-sm-3 col-md-2 sidebar">
           <nav class="sidebar-nav">
               <ul class="metismenu" id="menu">                  
                  
                   <li class="active">                      
                       <ul aria-expanded="true">
                           <li class="active">
                               <a href="../Merchants/Index" aria-expanded="true">
                                   <i class="icon icon-github"></i>
                                   店铺管理<i class="fa arrow fa-fw"></i>
                               </a>
                           </li><li>
                               <a href="../shops/Index" aria-expanded="true">
                                   <i class="icon icon-github"></i>
                                   店长管理 <i class="fa arrow fa-fw"></i>
                               </a></li>
                           <li>
                               <a href="../FoodcategoriesMerchant/Index">
                                   <i class="icon icon-list"></i>
                                   菜品分类管理<i class="fa arrow fa-fw"></i>
                               </a>
                               </li>
                           <li>
                               <a href="../foods/Index">
                                   <i class="icon icon-github"></i>
                                   菜品管理<i class="fa arrow fa-fw"></i>
                               </a>
                           </li>
                           <li>
                               <a href="~/full_reduce_actives/Index">
                                   <i class="icon icon-list"></i>
                                   满减活动
                               </a>
                           </li>
                           <li>
                               <a href="~/gift_foods/Index">
                                   <i class="icon icon-github"></i>
                                   买赠活动
                               </a>
                           </li>
                           <li>
                               <a href="~/shops/Index" aria-expanded="true">
                                   <i class="icon icon-github"></i>
                                  折扣活动
                               </a>
                           </li>
                       </ul>
                       <a href="../FoodcategoriesMerchant/Index" aria-expanded="true">
                           <i class="icon icon-github"></i>
                           商户设置<i class="fa arrow fa-fw"></i>
                       </a>
                   </li>
              </ul>
          </nav>
      </aside>
 
 